.jumbotron {
    padding: 15px 30px;
    background: 0%;
}

.homeButton {
    font-size: 50px;
    width: 200px;
    height: 85px;
    border-radius: 0px;
}

.contact {
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: fit-content;
    height: fit-content;
    margin: 2%;
}

.row {
    margin: 10px auto;
}

.container {
    margin-top: 35px;
    max-width: 45%;
    padding: 2% 0;
}
.border-draw {
    border: 1px solid black;
    border-radius: 3px; 
}
.center-item {
    width: fit-content;
    height: fit-content;
}
